mat-form-field {
    width: 100%;
}

.music-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

button.remove-btn {
    margin-left: 10px;
    align-self: center;

    mat-icon {
        margin: 0;
    }
}