<h1>{{editMode ? "Edit Artist" : "New Artist"}}</h1>
<form class="artist-form" [formGroup]="artistForm" (ngSubmit)="save()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name"
                placeholder="Britney Spears">
        <mat-error *ngIf="artistForm.controls.name.hasError('required')">
            Artist Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <div class="form-actions">
        <button mat-raised-button color="secondary" routerLink="../list"><mat-icon>arrow_back</mat-icon>Artists</button>
        <button [disabled]="artistForm.invalid" mat-raised-button color="primary" type="submit">Save</button>
        <button *ngIf="editMode" mat-raised-button color="warn" type="button" (click)="delete()">Delete</button>
    </div>
</form>
<div class="discography" *ngIf="editMode && discography.length > 0">
    <h2 class="discography-title"><mat-icon>album</mat-icon>Discography</h2>
    <mat-list>
        <mat-list-item *ngFor="let album of discography">
            <span matListItemTitle>{{album.albumName}}</span>
            <span class="music-name" matListItemLine *ngFor="let music of album.musics">{{music.name}}</span>
        </mat-list-item>
    </mat-list>
</div>